*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body *:hover {
  outline: 1px solid blue;
}

:root {
  --font-family-text: "Prata", serif;
  
  --font-size-small: 1rem;
  --font-size-normal: 1.125rem;
  --font-size-large: 1.25rem;
  --font-size-largest: 4rem;

  --color-beige: #bdafa3;
  --color-gray-light: #979797;
  --color-gray-dark: #3c3c3c;
  --color-green-dark: #55705c;
  --color-green-light: #728577;
}

body {
  padding: 0.5vw;
  font-size: var(--font-size-normal);
  font-family: var(--font-family-text);
  background: var(--color-beige);
  color: var(--color-black);
}

img {
  max-width: 90vw;
  max-height: 90vw;
}

header {
  padding: 0.25vw 1vw;
}

nav .home {
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: bold;
  text-decoration: none;
  color: var(--color-gray-dark);
}

hr {
  margin-top: 4px;
  border: 1px solid var(--color-gray-dark);
  opacity: 0.3;
}

.hero {
  padding: 1em 0;
  margin: 0 auto;
}

.title {
  font-size: var(--font-size-largest);
  text-align: center;
  text-shadow: 1px 1px 1px var(--color-green-light);
  color: var(--color-green-dark);
}

.subtitle {
  padding-top: 0.5em;
  font-size: var(--font-size-large);
  text-align: center;
  text-shadow: 1px 1px 1px var(--color-gray-light);
  color: var(--color-gray-dark);
}

.recipes-list {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.recipes-list a {
  display: inline-block;
}

.recipes-list p {
  padding-bottom: 1em;
  font-size: var(--font-size-small);
  text-decoration: underline;
  color: var(--color-gray-dark);
}